/* rem values are taken from tailwind */

.textField {
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
    background: hsl(var(--base-hue), var(--base-saturation), 7%);
    border-radius: 0.375rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.textField::placeholder {
    color: hsl(var(--base-hue), var(--base-saturation), 40%);
}
