.light {
    display: inline-block;
    width: 4px;
    height: 20px;
    background: hsl(var(--base-hue), var(--base-saturation), 20%);
    transform: skewX(-10deg);
    border-radius: 1000px;
    z-index: 10;
}

.light-active {
    background: hsl(var(--base-hue), 50%, 80%);
    z-index: 0;
}

.light-active::before {
    content: "";
    position: absolute;
    inset: 0;
    background: hsl(var(--base-hue), 50%, 80%);
    border-radius: 1000px;
    filter: drop-shadow(0 0 3px hsla(var(--base-hue), var(--base-accent), 60%));
    opacity: .5;
    mix-blend-mode: screen;
}