@import "utils/colorPalette.scss";

html,
body {
    background: var(--hsl-bg);
    color: dark(75%);
    min-height: 100vh;
}

#app {
    min-height: 100vh;
    z-index: 1;
    position: absolute;
    inset: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.icon {
    & > svg {
        // force the icon to use em values
        width: 1.5em !important;
        height: 1.5em !important;
    }
}

.force-system-font {
    font-family: system-ui, sans-serif !important;
}